
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*use ajax.actionlink *@

@*@Ajax.ActionLink("click", "loadDataAjax", new AjaxOptions
    {
        HttpMethod="GET", UpdateTargetId="result", InsertionMode= InsertionMode.replace
    })*@


@*use ajax.beginform*@
@*@using (Ajax.BeginForm("loadDataAjaxBeginForm", new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "result",
        InsertionMode = InsertionMode.InsertAfter
    }))
    {
        @Html.TextBox("text");
        <input type="submit" value="submit" />
    }*@


@*<div id="result">
        befbewi
    </div>*@



<input type="button" id="button" value="Submit" onclick="onClick()"/>
<div id="txtResult"></div>
<div id="loading" style="display: none">
    <img src="~/Images/Spinner-0.7s-324px.gif" />
</div>

<script>
    function onClick() {
        $("#loading").show();
        $.ajax({
            type: "GET",

            url: 'loadIndex',
            success: function (result) {
                $("#loading").hide();
                $('#txtResult').html(result);
            }
        });
    }
</script>
