.navbar {

    line-height: 50px;
    width: 200px;
    float: left;
    margin-right: 30px;


}

.navbar ul {
    margin-top: -5px;
}

.navbar li {
    list-style: none;
    margin-bottom: 10px;
    background-image: linear-gradient( to left , black 10%,white 10% );
    text-align: center;
}

.navbar a {
    text-decoration: none;
}

.content {
    margin-right: 100px;
    margin-top: 20px;
}

.content p {
    line-height: 30px;
}


.sign {
    text-align: right;
    font-weight: bolder;
    color: red;
    text-transform: uppercase;
}