p{
    color: red;
}
a{
    color:orange;
    font-size: 200%;
    text-decoration: none;

}
a:hover{
    font-size: 500%;
    text-transform: uppercase;
}

div{
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
}

h3{
    color: blue;
    line-height: 80px;
    word-spacing: 5px;
}