.menu_ngang li {
    display: inline-block;
    width: 100px;
    line-height: 40px;
    border-radius: 50px;
    background-color: violet;
    text-align: center;
    border : 2px solid red ;
    vertical-align: auto;
    margin-top: 2px;
  }

  a{
    color: yellow;
    text-decoration: none;
  }

.menu_ngang ul {
    background: #eeeeee;
    border : 2px solid blue ;
    list-style-type: none;
    text-align: right;
    height: 50px
    
}

.menu_ngang li:hover{
  background-color: gray !important;
}
