.xanhtrang{
    background-color: blue;
    color: white;
}
.hongden{
    background-color: violet;
}
.do{
    background-color: red;
}
.vang{
    background-color: yellow;
}
.hongnhat{
    background-color: lightcoral;
}
.xanhla{
    background-color: green;
}
.xam{
    background-color: grey;
}