

<div class="container-fluid mt-3">
    <h4 class="mb-2">Complex Form</h4>
    <form>
        <div>
            <div>
                <label for="" class="labelbinhluan">ID</label>
                <input type="text" class="form-control bluan" id="" placeholder="1">
            </div>
            <div>
                <label for="" class="labelbinhluan">Tên người bình luận</label>
                <input type="text" class="form-control bluan" id="" placeholder="nguyễn Quang Sỹ">
            </div>
        </div>
        <div>
            <label for="" class="labelbinhluan">tên sản phẩm</label>
            <input type="text" class="form-control bluan" id="" placeholder="iphoneXR">
        </div>
        <div class="form-group">
            <label style="margin-left: 2px;" class="labelbinhluan">Bình Luận</label>
            <div class="bluan brbluan">
                <ul style="list-style-type:none;">
                    <li class="liuser">
                        <div class="media-body pad-hor">
                            <div class="speech">
                                <a href="#" class="media-heading">Nguyễn Quang Sỹ</a>
                                <span>Like</span>
                                <p>09:32</p>
                            </div>
                        </div>
                    </li>
                    <li class="liadmin">
                        <div class="media-body pad-hor speech-right">
                            <div class="speech">
                                <a href="#" class="media-heading">Admin</a>
                                <span>cảm ơn bạn</span>
                                <p style=" text-align:left;">09:32</p>
                            </div>
                        </div>
                    </li>
                    <li class="liuser">
                        <div class="media-body pad-hor">
                            <div class="speech">
                                <a href="#" class="media-heading">Nguyễn Quang Sỹ</a>
                                <span>hehe</span>
                                <p>09:32</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <input type="text" class="form-control bluan" id="" placeholder="trả lời bình luận">
        </div>
        <button type="submit" class="btn btn-danger bluan"
                style="margin-bottom: 15px; margin-top: 15px;">
            Xác
            nhận
        </button>
    </form>
</div>
