.loadMore {
    margin-top: 60px;
    background: #DD0000;
    color: white;
    font-size: 25px;
    border: none;
    margin-left: 42%;
    border-radius: 10px;
    width: 20%;
}

    .loadMore:hover {
        background: #FF0000;
    }
