
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Public_Navigation")
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Home","Covid21")">Trang chủ</a></li>
                    <li class="active">Liên hệ với chúng tôi</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->

        <div class="row">

            <label class="gioithieu"> Giới thiệu về Covid21 </label>
            <p>Đến với web đa cấp chúng tui</p>
            <h5>Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau:</h5>
            <ul>
                <li>
                    <p>- Liên lạc qua điện thoại: 0383 205 546</p>
                </li>
                <li>
                    <p>- Liên lạc qua email: <a href="">Covid21@email.com</a></p>
                <li>
                    <p>- Fanpage của Tiki: <a href="https://www.facebook.com/tri.nguyenhoang.251100">facebook.com/tringuyenhoang</a></p>
                </li>
                <li>
                    <p>- Liên lạc chơi game Discord:<a href="https://discord.gg/Xv4ZbGQJ">Covid21</a></p>
                </li>
            </ul>
            <h5>Địa chỉ Covid21</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14368.612022843463!2d107.23549257946823!3d10.942930208812934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174ff2c0c515c97%3A0x6dae0f08b79f667d!2zVHguIExvbmcgS2jDoW5oLCDEkOG7k25nIE5haSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1626228902912!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


        </div>
        <!-- /row -->

    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->