<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            width: 654px;
            margin: 0px auto;
        }

        th, td, table {
            border: 2px solid black;
            border-bottom-width: 100%;
            border-collapse: collapse;
        }

        table {
            margin: 0px auto;
        }

        th {
            background-color: yellow;
            text-align: left;
        }

        .menu {
            background-color: rgb(65, 126, 30);
            float: left;
            width: 25%;
            height: 100%;
        }

            .menu h1 {
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                color: white;
            }

            .menu ul {
                list-style-type: circle;
                font-size: 20px;
            }

            .menu a {
                color: rgb(66, 12, 66);
                font-weight: bold;
            }

        .content {
            background-color: rgb(193, 224, 51);
            height: 100%;
            width: 75%;
            float: left;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <img src="C:\THUCHANH\Media\banner.png">
        </div>
        <div style="margin-top: 0px; height: 450px;">
            <div class="menu">
                <h1>Nội dung</h1>
                <ul>
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Sản phẩm</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Hình ảnh</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="content">
                <h2 style="text-align: center;">Bảng cửu chương 7, 8, 9</h2>
                <table style="width: 65%">
                    <tr>
                        <th> </th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                    </tr>
                    <tr>
                        <td>7x</td>
                        <td>7</td>
                        <td>14</td>
                        <td>21</td>
                        <td>28</td>
                        <td>35</td>
                        <td>42</td>
                        <td>49</td>
                        <td>56</td>
                        <td>63</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <td>8x</td>
                        <td>8</td>
                        <td>16</td>
                        <td>24</td>
                        <td>32</td>
                        <td>40</td>
                        <td>48</td>
                        <td>56</td>
                        <td>64</td>
                        <td>72</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>9x</td>
                        <td>9</td>
                        <td>18</td>
                        <td>27</td>
                        <td>36</td>
                        <td>45</td>
                        <td>54</td>
                        <td>63</td>
                        <td>72</td>
                        <td>81</td>
                        <td>90</td>
                    </tr>
                </table>
                <hr>
                <h2 style="text-align: center;">Danh sách tên các màu thông dụng</h2>
                <div style="margin: 20px; line-height: 20px;">
                    <ol type="1">
                        <li> Trắng: White</li>
                        <li> Đen: Blank</li>
                        <li> Đỏ: Red</li>
                        <li> Xanh lá: Green</li>
                        <li> Xanh dương: Blue</li>
                        <li> Vàng: Yellow</li>
                        <li> Cam: Orange</li>
                        <li> Tím: Violet</li>
                        <li> Xám: Gray</li>
                        <li> Hồng: Pink</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>