#mainform{
    margin-top: 20px;

}
#thongtin{
    float: left;
    width: 200px auto;
    min-height: auto;
    margin-left: 11%;
}
#hienthongtin{
    background: rgb(248, 249, 250);
    width: 900px ;   
    min-height: 347px ;
    float: left;
    margin-left: 15px;
    margin-top: -10px;
    border-radius: 5px;
    margin-bottom: 1%;

}
#thongtin .menuchon{
    margin-left: 7%;
    font-size: 18px;
}

.thongtincanhan{
    margin-left:10px;
    margin-top: 5px;
}


/* ================================ */
#id123 label.active {
    text-decoration: underline solid  ;  
  }
  #id124 label.active {
    text-decoration: underline solid ;  
  }
  #id129 label.active {
    text-decoration: underline solid  ;  
  }

/*======================================= */
#id1{
    margin-left: 100px;
    width: 300px;   
    margin-top: 5px;
    border-radius: 5px;
}
#id2{
    margin-left: 62px; 
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id3{
   margin-left: 133px; 
   width: 300px;
   margin-top: 5px;
   border-radius: 5px;
}
#id4{
    margin-left: 150px; 
    transform: scale(1.5);
    margin-top: 15px;
    
}
#id5{
    margin-left: 50px;
    transform: scale(1.5);
    margin-top: 15px;
}

#id6{
    margin-left: 78px; 
    width: 150px;
    margin-top: 5px;
    border-radius: 5px;
}
#id7{
    transform: scale(1.5);
    margin-left: 21%;
    margin-top: 10px;

}
#id8{
    margin-left: 110px;
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id9{
    margin-left: 73px;
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id10{
    margin-left: 45px;
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id11{
    margin-left: 184px; 
    width: 100px;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #e6556d;
    border: #e6556d;
    color: white;
    font-size: 20px;
    
}
#id11:hover{
    background: #ff002b;
}
#id12{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-style: dotted ;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: -10px;
    color: rgb(159, 209, 102);
  
}
#id12:hover{
    color: #D10024;
}
.id13{
    width: 30%; padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.id14{
    /* margin-left: 80%; */
    margin-top: 5px;
    border-radius: 5px;   
}
.id14:hover{
    color: red;
}
#id15{
    margin-left: 100px; 
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id16{
    margin-left: 33px; 
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id17{
    margin-left: 60px; 
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id18{
    margin-left: 82px; 
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id19{
    margin-left: 90px; 
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id20{
    margin-left: 118px; 
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
}
#id21{
    margin-left: 174px; 
    width: 100px;
    margin-top: 5px;border-radius: 5px;
    margin-bottom: 10px;
}
.thoat{
    background: none;
    border: none;
    margin-left: 52%;
    border-radius: 5px;
}
.thoat:hover{
    color: red;
}
#id22{
    transform: scale(1.5);
    margin-left: 20%;
    margin-top: 5px;
}

#donhangdamua table{
     margin-left:0px;
     margin-top: 10px;
      width: 880px;   
      text-align: center; 
      margin-bottom: 10px;
     
}
.tabledg tr{
    line-height: 10px;
    box-shadow: 0px 0px 0px 1px rgb(51, 49, 49);
}
.tablea{
   text-align: center; margin-top: 7px;
   font-size: 20px;
   padding: 8px;
 
}
.tableb{
    text-align: center; margin-top: 7px; 
   font-size: 15px;
   padding: 5px;
 }
 .hoverdonhang:hover{
     background: rgb(227, 232, 233);
 }
