<!--
    Giúp hiện ra số lượng sản phẩm người dùng yêu thích
    Tại đây cũng có đường truyền đến danh sach yêu thích của user
-->

@model string

<div>
    <a href="@Url.Action("Store","Covid21",new { ProductTypeName = Session["user"] })">
        <i class="fa fa-heart-o"></i>
        <span>Your Wishlist</span>
        <div class="qty">@Model</div>
    </a>
</div>