<link href="~/Areas/Admin/AssetAdmin/css/loginAdmin.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<body class="login-body">
    <div class="container-login">
        <header class="header-login">Login Form</header>
        <form>
            <div class="input-field">
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="input-field">
                <input class="pswrd" id="pass" type="password" required>
                <span class="show" style="position: absolute;" onclick="my1Function()">
                    <i id="hidel2" class="fa fa-eye-slash"></i>
                    <i id="hidel1" class="fa fa-eye" style="display: none;"></i>
                </span>
                <label>Password</label>
            </div>
            <div class="button-login">
                <div class="inner"></div>
                <button>LOGIN</button>
            </div>
        </form>

    </div>
    <script>
        function my1Function() {
            var x = document.getElementById("pass");
            var y = document.getElementById("hidel1");
            var z = document.getElementById("hidel2");

            if (x.type === 'password') {
                x.type = 'text';
                y.style.display = "block";
                z.style.display = "none"
            } else {
                x.type = 'password';
                y.style.display = "none";
                z.style.display = "block"
            }
        }
    </script>
</body>