
#thongbao{
  position: absolute;

}
#thongbao .tooltip.show{
  display: block;
}
#thongbao .wrapper{
  position: absolute;
  top: 5px;

  width: 140px;
  overflow: hidden;
  border-radius: 5px;
  background: #1E1F29;
  display: none;
  transition: all 0.3s ease;
  z-index: 50;
 
}

#thongbao .wrapper.show{
  display: block;
  display: flex;
}
.wrapper ul{
  width: 200px;
  list-style: none;
  padding: 10px;
  transition: all 0.3s ease;
}
/* khoang cach */
.wrapper ul li{
  line-height: 25px;
}
.wrapper ul li a{
  position: relative;
  color: #b0b3b8;
  font-size: 15px;
  font-weight: 400;
  padding: 0 10px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
}
.wrapper ul li:hover a{
  background: #3A3B3C;
}
#menuthongbao li a .icon1{
  height: 23px;
  width: 23px;
  margin-right: 10px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  padding: 3px;
}
#menuthongbao li a .icon1 span{
  line-height: 13px;
  font-size: 15px;
  color: #b0b3b8;
  padding: 3px;
}
