
#message {
    display: none;
    background: none;
    color: rgb(14, 13, 13);
    position: relative;
    padding: 1px 1px;
    margin-top: -50px;
}

#message p {
    font-size: 15px;
    margin-left: 30px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: rgb(9, 88, 45);
}

    .valid:before {
        position: relative;
        left: -10px;
        content: "✔";
    }

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

    .invalid:before {
        position: relative;
        left: -10px;
        content: "✖";
    }

