
@{
    ViewBag.Title = "PictureManager";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml";

    TSP_Covid21.Areas.Admin.Controllers.PictureManagerController PC = new TSP_Covid21.Areas.Admin.Controllers.PictureManagerController();
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Hình ảnh</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">

                    <ol class="breadcrumb ms-auto">
                        <li><a href="#" class="fw-normal"></a></li>
                    </ol>
                    <a class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm " id="btnUpPic">
                        Tải ảnh lên
                    </a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!--up picture-->
    <div id="UpPic" class="upPic" style="z-index: 50;">
       
        <div id="customers1">
            <div style="float: none; margin-left: 40%">
                <label for="inputUpPic">
                    <span>
                        <i class="fas fa-folder-open " style="color:#fad859;"></i>
                        Open file
                    </span>
                </label>
                <input id="inputUpPic" type="file" multiple accept="image/*"
                       name="files" />
            </div>
            <!--class="input-file"      style="display: block"-->
            <div class="card-deck" id="appearPicUp">

            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->


    @{
        IEnumerable<string> listPic = PC.listPic();
    }
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">

                    <div class="container-fluid">
                        <div class="row">
                            @foreach (var item in listPic)
                            {
                                <div class="col order-sm-2">
                                    <img src="~/@item" style="height: 350px; width: 250px; object-fit:contain" alt="">
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</div>

<!--up ảnh lên trình duyệt-->
<script>
    $("body").on("click", ".removePic", function () {
        $(this).parent().parent().parent().parent().parent().remove();
    });

    $("#inputUpPic").change(function (event) {
        var files = event.target.files;

        for (var i = 0; i < files.length; i++) {
            var file = files[i];

            // Bỏ ảnh đang up vào khung hiện
            if (file.type.match("image")) {
                var picReader = new FileReader();
                picReader.addEventListener("load", function (event) {
                    var picFile = event.target;

                    var create = document.createElement("div");
                    create.innerHTML = '<div class="card mb-4 pictureUp" style="width: 104px; float: left;">' +
                                            '<figure class="snip0068 yellow">' +
                                                '<img src="' + picFile.result + '"/>' +
                                                '<figcaption> ' +
                                                    '<div>' +
                                                        '<span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>' +
                                                    '</div>' +
                                                '</figcaption>' +
                                            '</figure>' +
                                        '</div>';

                    $("#appearPicUp").prepend(create);
                });
            }
            picReader.readAsDataURL(file);

            uploadImage(file);
        }
    });

    //Up ảnh lên database
    function uploadImage(file) {
        var formData = new FormData();
        formData.append("file", file);
        $.ajax({
            data: formData,
            type: "POST",
            url: '@Url.Action("SaveFile", "PictureManager")',
            cache: false,
            contentType: false,
            processData: false,
        });
    }
</script>

<!--Hiện khung chứa những ảnh load lên-->
<script>
    $("#btnUpPic").click(function (){
        $("#UpPic").show();
    })
</script>

