

#customers {
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    align-content: center;
  
  
}

    #customers td, #customers th {
        border-style: ridge;
        border-width: 1px 0px 2px 0px;
        text-align: center;
        padding: 8px;
    }

    /* #customers tr:nth-child(even) {
        background-color: white;
    } */

    #customers tr:hover {
        background-color: #d6dee9;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #485472;
        color: white;
    }

h2 {
    text-align: center;
    
}


#customers1 {
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    align-content: center;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

    #customers1 td, #customers1 th {
        border-style: ridge;
        border-width: 1px 0px 2px 0px;
        text-align: center;
        padding: 8px;
    }

    /* #customers tr:nth-child(even) {
        background-color: white;
    } */

    #customers1 tr:hover {
        background-color: #d6dee9;
    }

    #customers1 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #485472;
        color: white;
    }


    
    


        
         


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

  
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  



  
/* ==============================================================================them san pham */
        #customers2 {
            margin: 0px auto;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            align-content: center;
            background-color: #fefefe;
          
            border: 1px solid #888;
            width: 800px; /* Could be more or less, depending on screen size */
        }
        
            #customers2 td, #customers2 th {
                border-style: ridge;
                border-width: 1px 0px 2px 0px;
                text-align: center;
                padding: 8px;
                
                
            }
        
            /* #customers tr:nth-child(even) {
                background-color: white;
            } */
        
            #customers2 tr:hover {
                background-color: #d6dee9;
            }
        
            #customers2 th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: #485472;
                color: white;
            }
.exit{
    font-size: 20px; 
    border: none;
    background: none;
    margin-left: 1134px;
    color: white;
    
}
.exit:hover{
    color: red;

}
#lname{
    width: 70%;    
    border: none;
    background: none;
    margin-left: 200px;
} 
#customers2 .numberrit{
    width: 10%;
    border: none;
    background: none;
    margin-left: 25px;
}

#customers2 select{
    width: 25%;
    border: none;
    background: none;
    margin-left: 70px;
}
#customers2 button{
    margin-left: 1px;
}
#customers2 .cmb{
    margin-left: 110px;
    border: none;
    background: none;
}
textarea{
    width: 100%;;
    border: none;
    background: none;
}
.input-file[type="file"]{
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;  
}
#submit{
    background: rgb(145, 23, 23);
    width: 100px;
    color:rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 1020px;
    border:white;
    border-radius: 10%;
    /* margin-top: 50px; */
    margin-bottom:100px ;
}
#submit:hover{
    background: red;
}

  /* ===================================================================================================================================================================*/

        .cus {
            margin: 0px auto;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            align-content: center;
            background-color: #fefefe;
            margin: 15% auto 15% auto;
            border: 1px solid #888;
            width: 65%; /* Could be more or less, depending on screen size */
        }
        
            .cus td, .cus th {
                border-style: ridge;
                border-width: 1px 0px 2px 0px;
                text-align: center;
                padding: 8px;
                
                
            }
        
            /* #customers tr:nth-child(even) {
                background-color: white;
            } */
        
            .cus tr:hover {
                background-color: #d6dee9;
            }
        
            .cus th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: #485472;
                color: white;
            }
  

#lname{
    width: 70%;    
    border: none;
    background: none;
    margin-left: 200px;
} 
.cus .numberrit{
    width: 10%;
    border: none;
    background: none;
    margin-left: 25px;
}

.cus select{
    width: 25%;
    border: none;
    background: none;
    margin-left: 70px;
}
.cus button{
    margin-left: 1px;
}
.cus .cmb{
    margin-left: 110px;
    border: none;
    background: none;
}
textarea{
    width: 100%;;
    border: none;
    background: none;
}
.input-file[type="file"]{
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;  
}
/* ========================================== */
.cus1 {
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    align-content: center;
    background-color: #fefefe; 
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */
}
     .cus1 th {
        border-style: ridge;
        border-width: 1px 1px 1px 0px;
        text-align: center;
        padding: 8px;       
    }

    /* #customers tr:nth-child(even) {
        background-color: white;
    } */
    .cus1 th:hover {
        background-color: #d6dee9;
    }

    .cus1 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;     
    }

/* ============================================= */
    .cus2 {
        margin: 0px auto;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        align-content: center;
        background-color: #fefefe; 
        border: 1px solid #888;
        width: 65%; /* Could be more or less, depending on screen size */
         margin-bottom: 150px;
      
    }
    
    .cus2 td,.cus2 th {
            border-style: ridge;
            border-width: 1px 0px 2px 0px;
            text-align: center;
            padding: 8px;
        }
    
        /* #customers tr:nth-child(even) {
            background-color: white;
        } */
    
        .cus2 tr:hover {
            background-color: #d6dee9;
        }
    
        .cus2 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #485472;
            color: white;
        }
        /* ============ */
        .cus3 {
            margin: 0px auto;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            align-content: center;
            background-color: #fefefe; 
            border: 1px solid #888;
            width: 65%; /* Could be more or less, depending on screen size */
            margin-bottom: 150px;
                   
        }
        
        .cus3 td,.cus3 th {
                border-style: ridge;
                border-width: 1px 0px 2px 0px;
                text-align: center;
                padding: 8px;
            }
        
            /* #customers tr:nth-child(even) {
                background-color: white;
            } */
        
            .cus3 tr:hover {
                background-color: #d6dee9;
            }
        
            .cus3 th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: #485472;
                color: white;
            }
   
     
        .cus2 .numberrit{
            width: 10%;
            border: none;
            background: none;
            margin-left: 25px;
        }
        
        .cus2 select{
            width: 25%;
            border: none;
            background: none;
            margin-left: 90px;
        }
        .cus2 button{
            margin-left: 1px;
        }
        .cus2 .cmb{
            margin-left: 150px;
            border: none;
            background: none;
        }
        textarea{
            width: 100%;;
            border: none;
            background: none;
        }
        .input-file[type="file"]{
            display: none;
            position: absolute;
            top: -9999px;
            left: -9999px;  
        }
        
        #label5{
            margin-right: 50px;
        }
    


